:root {
  --white: #fff;
  --secondary-color: #f67e7e;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  align-items: center;
}

html {
  width: 100vw;
}

body {
  font-family: "livvic", sans-serif;
  background-color: #014e56;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
}

ol,
ul {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1150px;
  /* width: 100%; */
  margin: 0 auto;
  padding: 0 20px;
}

/* header */

.header {
  padding-top: 77px;
  padding-bottom: 133px;
}

.header__container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.header__logo {
  margin-right: 80px;
}

.header__list {
  display: flex;
  gap: 40px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.header__nav__link {
  color: #fff;
}

.header__link {
  margin-left: auto;
  padding: 9px 33px;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  border-radius: 24px;
  border: 2px solid #fff;
}

/* /haeder */

/* main */

.main {
  flex-grow: 1;
}

/* hero */

.hero {
  flex-shrink: 0;
  padding-bottom: 255px;
  background-image: url(../images/hero-bg-left.svg),
    url(../images/hero-bg-right.svg);
  background-repeat: no-repeat;
  background-size: 100px 250px, 350px 100px;
  background-position: calc(50% - 720px) top, calc(50% + 380px) bottom;
}

.hero__container {
  display: flex;
  justify-content: space-between;
}

.hero__title {
  color: var(--white);
  font-size: 100px;
  width: 620px;
}

.hero__secondary-color {
  color: var(--secondary-color);
}

.hero__text {
  width: 445px;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  margin-top: auto;
  margin-bottom: 15px;
  position: relative;
}

.hero__text::before {
  display: inline-block;
  content: "";
  width: 50px;
  height: 4px;
  background-color: #79c8c7;
  border: none;
  position: absolute;
  top: -80px;
}
/* /hero */

/* teams*/

.teams {
  background-color: #012f34;
  padding: 198px 0 140px 0;

  background-image: url(../images/teams-bgi.svg);
  background-repeat: no-repeat;
  background-size: 100px 244px;
  background-position: calc(50% + 700px) bottom;
}

.teams__container {
  display: flex;
  justify-content: space-between;
}

.teams__title {
  width: 445px;
  color: var(--white);
  font-size: 48px;
  position: relative;
}

.teams__title::before {
  display: inline-block;
  content: "";
  width: 50px;
  height: 4px;
  border: none;
  background-color: #f67e7e;
  position: absolute;
  top: -54px;
}

.teams__right__list {
  display: flex;
  flex-flow: column;
  gap: 32px;
}

.teams__right__item {
  display: flex;
  justify-content: space-between;
  gap: 23px;
}

.teams__right__item__info {
  display: flex;
  flex-flow: column;
}

.teams__right__item__title {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 16px;
}

.teams__right__item__text {
  color: var(--white);
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  width: 445px;
}

.teams__right__item img {
  order: -1;
}

/* /teams */

/* stories */

.stories {
  padding: 140px 0 151px;
  background-image: url(../images/stories-bgi-1.svg),
    url(../images/stories-bgi-2.svg);
  background-repeat: no-repeat;
  background-size: 147px 100px, 200px 100px;
  background-position: calc(50% - 720px) top, calc(50% + 650px) bottom;
}

.stories__title {
  width: 932px;
  color: var(--white);
  text-align: center;
  font-size: 48px;
  line-height: 48px;
  margin: 0 auto;
  margin: 92px;
}

.stories__list {
  display: flex;
  gap: 30px;
}

.stories__item {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.stories__item::before {
  display: inline-block;
  content: "";
  position: absolute;
  width: 67px;
  height: 56px;
  background-image: url(../images/quote-top.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: -12px;
  z-index: -1;
}

.stories__item__title {
  color: #79c8c7;
  font-size: 18px;
  line-height: 28px;
}

.stories__item__text {
  color: var(--white);
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  font-style: italic;
  margin-bottom: 32px;
}

.stories__item__info {
  color: var(--white);
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  order: -1;
  margin: 24px;
  width: 350px;
}

/* /stories */

/* started */

.started {
  padding: 76px 0;
  background-color: var(--secondary-color);
  background-image: url(../images/started-bgi.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 685px) bottom;
  background-size: 200px 122px;
}

.started__container {
  display: flex;
  align-items: center;
}

.started__title {
  color: #012f34;
  font-size: 48px;
  margin-left: 63px;
}

.started__link {
  margin-left: 260px;
  color: #012f34;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 32px;
  border-radius: 24px;
  border: 2px solid #012f34;
}

/* /started */

/* /main */

/* footer */

.footer {
  background-color: #002529;
  padding: 48px 0 55px;
}

.footer__container {
  display: flex;
  align-items: center;
}

.footer__left {
  display: flex;
  flex-flow: column;
  align-items: start;
}

.footer__left a {
  margin-bottom: 25px;
}

.footer__list {
  display: flex;
  gap: 40px;
}

.footer__nav__link {
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.footer__center {
  margin-left: 125px;
  color: var(--white);
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  opacity: 0.6;
}

.footer__right {
  margin-left: auto;
  display: flex;
  flex-flow: column;
  text-align: right;
}

.footer__right p {
  color: var(--white);
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  margin-top: 50px;
  opacity: 0.6;
}
